body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=53699");
}

header
{
  background-color: cornflowerblue;
  color: white;
  text-align: left;
  text-transform: none;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: left;
  justify-items: center;
}

.router-outlet
{
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: left;
  justify-items: center;
  border: 1px solid black;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
}

footer
{
  background-color: forestgreen;
  color: black;
  text-align: left;
  text-transform: none;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: left;
  justify-items: left;
}


